

.container{
  display: block;
}

.containerHeader{
  min-height: calc(100vh - 5rem);
  margin: 5.5rem auto;
  max-width: 1120px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img{
    max-width: 540px;
  }
}

.ctaText{
  max-width: 600px;
  display: flex;
  flex-direction: column;

  h1{
    font-size: 2.3rem;
    line-height: 4rem;
    font-weight: 900;
    margin-top: 2.5rem;
    margin-left: 2rem;
    color: var(--white);
  }

  span{
    font-size: 1rem;
    line-height: 2.25rem;
    color: var(--white);
    margin-left: 2rem;
  }

  button{
    background-color: var(--blue-900);
    border:0;
    padding: 1rem 1.8rem;
    margin-top: 2.5rem;
    border-radius: 7px;
    color: var(--white);
    font-weight: bold;
    margin-left: 2rem;
  }
}

.divisor{
  width: 100%;
  bottom: 0;
  height: 1px;
  border-color: var(--gray-200)
}


.sectionContent{
  margin: 5.5rem auto;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  section{
    max-width: 670px;
  }


  img{
    max-width: 550px;
  }

  h2{
    font-size: 2.2rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.2rem;
    margin-left: 2rem;
    color: var(--white);
  }

  span{
    font-size: 1rem;
    line-height: 2.25rem;
    color: var(--white);
    margin-left: 2rem;
  }
  button{
    margin-left: 2rem;
  }
}



@media (max-width: 1095px){
  .container{
    .containerHeader{
      padding: 0 2rem;
    }
    button{
      display: block;
      margin-left: 0;
    }

    img{
      max-width: 600px;
      margin-top: 2rem;
    }

    div h1{
      font-size: 3rem;
    }

    div h2{
      font-size: 2.3rem;

      span{
        font-size: 2.3rem;
      }
    }

    .sectionContent{
      padding: 0 2rem;
    }
  }
}


@media (max-width: 950px){
  .container{
    .containerHeader{
      flex-direction: column;
      min-height: calc(100vh - 30rem);
      justify-content: center;
    }

    button{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center;
    }

    div img{
      max-width: 100%;
      margin-top: 2rem;
    }

    div h1{
      font-size: 2rem;
    }

    h2{
      font-size: 1rem;
    }

    .sectionContent{
      flex-direction: column;

      img{
        margin-top: 2rem;
        max-width: 100%;
      }
    }
  }
}